doctype html
html
  head
    title= title
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    link(rel='stylesheet' href='/public/stylesheets/style.css')
    
  body
    block pageContent
      